body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header img {
    width: 50px;
    height: 50px;
}

header h1 {
    margin: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
}

nav ul li a:hover {
    font-weight: bold;
    font-size: 16px;
}

section {
    margin: 2em auto;
    padding: 1em;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 0.5em 0 0.2em;
}

form input, form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.exercise {
    margin: 1em 0;
}

.exercise img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.exercise p {
    text-align: center;
}



.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.content {
    padding: 20px;
    background: #fff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content img {
    max-width: 100%;
    height: auto;
}

.content h1, .content h2 {
    color: #333;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.gallery img {
    width: 100%;
    height: 100%; /* Asigna un tamaño específico a todas las imágenes *